.white{
    color:#fff;
}

.FooterContainer{
    background: url('../../assets/images/footer-1.png') ;
    margin-top:75px;
    padding: 15px 0;
    
}

.leftSection{
    color:#fff;
}
.social img{
    width:75px;
    padding-right:20px
}
.social{
    margin-top:30px
}

@media only screen and (max-width: 767px){
    .FooterContainer {      
        margin-top: 0px;
        
    }
    .FooterContainer .Follow{
        width: 294px;
    }
}